@import './base.css';

#app {
  width: 100%;
  max-width: 1280px;
  margin: 0 auto;
  padding: 0 2rem 2rem 2rem;
  font-weight: normal;
}

a,
.salmon {
  text-decoration: none;
  color: hsl(13, 92%, 62%);
  transition: 0.4s;
  padding: 3px;
}

@media (hover: hover) {
  a {
    position: relative;
    display: inline-block;
    line-height: 1.8;
  }

    a::before {
      content: '';
      position: absolute;
      top: 0.1em;
      left: 50%;
      transform: translateX(-50%);
      width: calc(100% + 12px);
      height: var(--link-line-height, 1.8em);
      background-color: hsla(178, 91%, 80%, 0.25);
      border-radius: 9px;
      opacity: 0;
      transition: opacity 0.2s ease;
      z-index: -1;
    }

    a:hover::before {
        opacity: 1;
    }

    a:active::before {
      background-color: rgba(136, 136, 136, 0.5);
    }
}

@media (min-width: 1024px) {
  body {
    display: block;
  }

  #app {
    width: 100%;
    max-width: 1280px;
    margin: 0 auto;
    display: block;
    padding: 0 2rem 2rem 2rem;
  }
}
